.color-details{
  color: #00a2d4;
  cursor: pointer;
}
.color-danger{
  color: red;
  cursor: pointer;
}
.color-dispose{
  background: #1c84c6;
  cursor: pointer;
  color: #fff;
}
.color-green{
  background: #1ab394 !important;
  border: 1px #1ab394 solid !important;
  color: #fff;
  &:active {
    background: #1ab394 !important;
    color: #fff;
  }
  &:hover {
    background: #1ac2a3 !important;
    color: #fff;
  }
}
.margin-center-5{
  margin: 0 5px;
}