@font-face {
  font-family: 'IcoMoon-Free';
  src:  url('fonts/IcoMoon-Free.eot?2deqc9');
  src:  url('fonts/IcoMoon-Free.eot?2deqc9#iefix') format('embedded-opentype'),
    url('fonts/IcoMoon-Free.ttf?2deqc9') format('truetype'),
    url('fonts/IcoMoon-Free.woff?2deqc9') format('woff'),
    url('fonts/IcoMoon-Free.svg?2deqc9#IcoMoon-Free') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IcoMoon-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-earth-other:before {
  content: "\e900";
  color: #fff;
}
.icon-associated:before {
  content: "\e901";
}
.icon-philippines .path1:before {
  content: "\e90b";
  color: rgb(53, 54, 54);
}
.icon-philippines .path2:before {
  content: "\e90c";
  margin-left: -2.004883em;
  color: rgb(0, 83, 163);
}
.icon-philippines .path3:before {
  content: "\e90d";
  margin-left: -2.004883em;
  color: rgb(204, 48, 60);
}
.icon-philippines .path4:before {
  content: "\e90e";
  margin-left: -2.004883em;
  color: rgb(255, 255, 255);
}
.icon-philippines .path5:before {
  content: "\e90f";
  margin-left: -2.004883em;
  color: rgb(250, 212, 0);
}
.icon-renewal:before {
  content: "\e902";
}
.icon-journey:before {
  content: "\e903";
}
.icon-cache:before {
  content: "\e904";
}
.icon-hotel:before {
  content: "\e905";
}
.icon-japan .path1:before {
  content: "\e910";
  color: rgb(53, 54, 54);
}
.icon-japan .path2:before {
  content: "\e911";
  margin-left: -2.007813em;
  color: rgb(255, 255, 255);
}
.icon-japan .path3:before {
  content: "\e912";
  margin-left: -2.007813em;
  color: rgb(192, 29, 60);
}
.icon-log:before {
  content: "\e906";
}
.icon-accounts:before {
  content: "\e907";
}
.icon-thailand .path1:before {
  content: "\e913";
  color: rgb(53, 54, 54);
}
.icon-thailand .path2:before {
  content: "\e914";
  margin-left: -2.007813em;
  color: rgb(255, 255, 255);
}
.icon-thailand .path3:before {
  content: "\e915";
  margin-left: -2.007813em;
  color: rgb(213, 53, 44);
}
.icon-thailand .path4:before {
  content: "\e916";
  margin-left: -2.007813em;
  color: rgb(255, 255, 255);
}
.icon-thailand .path5:before {
  content: "\e917";
  margin-left: -2.007813em;
  color: rgb(0, 69, 143);
}
.icon-download-taobao:before {
  content: "\e90a";
}
.icon--early-warning:before {
  content: "\e918";
}
.icon-accounts-manage:before {
  content: "\e908";
}
.icon-zhifubao:before {
  content: "\e909";
}
.icon-home:before {
  content: "\e919";
}
.icon-home2:before {
  content: "\e91a";
}
.icon-home3:before {
  content: "\e91b";
}
.icon-office:before {
  content: "\e91c";
}
.icon-newspaper:before {
  content: "\e91d";
}
.icon-pencil2:before {
  content: "\e91e";
}
.icon-pencil23:before {
  content: "\e91f";
}
.icon-quill:before {
  content: "\e920";
}
.icon-pen:before {
  content: "\e921";
}
.icon-blog:before {
  content: "\e922";
}
.icon-eyedropper:before {
  content: "\e923";
}
.icon-droplet:before {
  content: "\e924";
}
.icon-paint-format:before {
  content: "\e925";
}
.icon-image:before {
  content: "\e926";
}
.icon-images:before {
  content: "\e927";
}
.icon-camera:before {
  content: "\e928";
}
.icon-headphones:before {
  content: "\e929";
}
.icon-music:before {
  content: "\e92a";
}
.icon-play:before {
  content: "\e92b";
}
.icon-film:before {
  content: "\e92c";
}
.icon-video-camera:before {
  content: "\e92d";
}
.icon-dice:before {
  content: "\e92e";
}
.icon-pacman:before {
  content: "\e92f";
}
.icon-spades:before {
  content: "\e930";
}
.icon-clubs:before {
  content: "\e931";
}
.icon-diamonds:before {
  content: "\e932";
}
.icon-bullhorn:before {
  content: "\e933";
}
.icon-connection:before {
  content: "\e934";
}
.icon-podcast:before {
  content: "\e935";
}
.icon-feed:before {
  content: "\e936";
}
.icon-mic:before {
  content: "\e937";
}
.icon-book:before {
  content: "\e938";
}
.icon-books:before {
  content: "\e939";
}
.icon-library:before {
  content: "\e93a";
}
.icon-file-text:before {
  content: "\e93b";
}
.icon-profile:before {
  content: "\e93c";
}
.icon-file-empty:before {
  content: "\e93d";
}
.icon-files-empty:before {
  content: "\e93e";
}
.icon-file-text2:before {
  content: "\e93f";
}
.icon-file-picture:before {
  content: "\e940";
}
.icon-file-music:before {
  content: "\e941";
}
.icon-file-play:before {
  content: "\e942";
}
.icon-file-video:before {
  content: "\e943";
}
.icon-file-zip:before {
  content: "\e944";
}
.icon-copy:before {
  content: "\e945";
}
.icon-paste:before {
  content: "\e946";
}
.icon-stack:before {
  content: "\e947";
}
.icon-folder:before {
  content: "\e948";
}
.icon-folder-open:before {
  content: "\e949";
}
.icon-folder-plus:before {
  content: "\e94a";
}
.icon-folder-minus:before {
  content: "\e94b";
}
.icon-folder-download:before {
  content: "\e94c";
}
.icon-folder-upload:before {
  content: "\e94d";
}
.icon-price-tag:before {
  content: "\e94e";
}
.icon-price-tags:before {
  content: "\e94f";
}
.icon-barcode:before {
  content: "\e950";
}
.icon-qrcode:before {
  content: "\e951";
}
.icon-ticket:before {
  content: "\e952";
}
.icon-cart:before {
  content: "\e953";
}
.icon-coin-dollar:before {
  content: "\e954";
}
.icon-coin-euro:before {
  content: "\e955";
}
.icon-coin-pound:before {
  content: "\e956";
}
.icon-coin-yen:before {
  content: "\e957";
}
.icon-credit-card:before {
  content: "\e958";
}
.icon-calculator:before {
  content: "\e959";
}
.icon-lifebuoy:before {
  content: "\e95a";
}
.icon-phone:before {
  content: "\e95b";
}
.icon-phone-hang-up:before {
  content: "\e95c";
}
.icon-address-book:before {
  content: "\e95d";
}
.icon-envelop:before {
  content: "\e95e";
}
.icon-pushpin:before {
  content: "\e95f";
}
.icon-location:before {
  content: "\e960";
}
.icon-location2:before {
  content: "\e961";
}
.icon-compass:before {
  content: "\e962";
}
.icon-compass2:before {
  content: "\e963";
}
.icon-map:before {
  content: "\e964";
}
.icon-map2:before {
  content: "\e965";
}
.icon-history:before {
  content: "\e966";
}
.icon-clock:before {
  content: "\e967";
}
.icon-clock2:before {
  content: "\e968";
}
.icon-alarm:before {
  content: "\e969";
}
.icon-bell:before {
  content: "\e96a";
}
.icon-stopwatch:before {
  content: "\e96b";
}
.icon-calendar:before {
  content: "\e96c";
}
.icon-printer:before {
  content: "\e96d";
}
.icon-keyboard:before {
  content: "\e96e";
}
.icon-display:before {
  content: "\e96f";
}
.icon-laptop:before {
  content: "\e970";
}
.icon-mobile:before {
  content: "\e971";
}
.icon-mobile2:before {
  content: "\e972";
}
.icon-tablet:before {
  content: "\e973";
}
.icon-tv:before {
  content: "\e974";
}
.icon-drawer:before {
  content: "\e975";
}
.icon-drawer2:before {
  content: "\e976";
}
.icon-box-add:before {
  content: "\e977";
}
.icon-box-remove:before {
  content: "\e978";
}
.icon-download:before {
  content: "\e979";
}
.icon-upload:before {
  content: "\e97a";
}
.icon-floppy-disk:before {
  content: "\e97b";
}
.icon-drive:before {
  content: "\e97c";
}
.icon-database:before {
  content: "\e97d";
}
.icon-undo:before {
  content: "\e97e";
}
.icon-redo:before {
  content: "\e97f";
}
.icon-undo2:before {
  content: "\e980";
}
.icon-redo2:before {
  content: "\e981";
}
.icon-forward:before {
  content: "\e982";
}
.icon-reply:before {
  content: "\e983";
}
.icon-bubble:before {
  content: "\e984";
}
.icon-bubbles:before {
  content: "\e985";
}
.icon-bubbles2:before {
  content: "\e986";
}
.icon-bubble2:before {
  content: "\e987";
}
.icon-bubbles3:before {
  content: "\e988";
}
.icon-bubbles4:before {
  content: "\e989";
}
.icon-user:before {
  content: "\e98a";
}
.icon-users:before {
  content: "\e98b";
}
.icon-user-plus:before {
  content: "\e98c";
}
.icon-user-minus:before {
  content: "\e98d";
}
.icon-user-check:before {
  content: "\e98e";
}
.icon-user-tie:before {
  content: "\e98f";
}
.icon-quotes-left:before {
  content: "\e990";
}
.icon-quotes-right:before {
  content: "\e991";
}
.icon-hour-glass:before {
  content: "\e992";
}
.icon-spinner:before {
  content: "\e993";
}
.icon-spinner2:before {
  content: "\e994";
}
.icon-spinner3:before {
  content: "\e995";
}
.icon-spinner4:before {
  content: "\e996";
}
.icon-spinner5:before {
  content: "\e997";
}
.icon-spinner6:before {
  content: "\e998";
}
.icon-spinner7:before {
  content: "\e999";
}
.icon-spinner8:before {
  content: "\e99a";
}
.icon-spinner9:before {
  content: "\e99b";
}
.icon-spinner10:before {
  content: "\e99c";
}
.icon-spinner11:before {
  content: "\e99d";
}
.icon-binoculars:before {
  content: "\e99e";
}
.icon-search:before {
  content: "\e99f";
}
.icon-zoom-in:before {
  content: "\e9a0";
}
.icon-zoom-out:before {
  content: "\e9a1";
}
.icon-enlarge:before {
  content: "\e9a2";
}
.icon-shrink:before {
  content: "\e9a3";
}
.icon-enlarge2:before {
  content: "\e9a4";
}
.icon-shrink2:before {
  content: "\e9a5";
}
.icon-key:before {
  content: "\e9a6";
}
.icon-key2:before {
  content: "\e9a7";
}
.icon-lock:before {
  content: "\e9a8";
}
.icon-unlocked:before {
  content: "\e9a9";
}
.icon-wrench:before {
  content: "\e9aa";
}
.icon-equalizer:before {
  content: "\e9ab";
}
.icon-equalizer2:before {
  content: "\e9ac";
}
.icon-cog:before {
  content: "\e9ad";
}
.icon-cogs:before {
  content: "\e9ae";
}
.icon-hammer:before {
  content: "\e9af";
}
.icon-magic-wand:before {
  content: "\e9b0";
}
.icon-aid-kit:before {
  content: "\e9b1";
}
.icon-bug:before {
  content: "\e9b2";
}
.icon-pie-chart:before {
  content: "\e9b3";
}
.icon-stats-dots:before {
  content: "\e9b4";
}
.icon-stats-bars:before {
  content: "\e9b5";
}
.icon-stats-bars2:before {
  content: "\e9b6";
}
.icon-trophy:before {
  content: "\e9b7";
}
.icon-gift:before {
  content: "\e9b8";
}
.icon-glass:before {
  content: "\e9b9";
}
.icon-glass2:before {
  content: "\e9ba";
}
.icon-mug:before {
  content: "\e9bb";
}
.icon-spoon-knife:before {
  content: "\e9bc";
}
.icon-leaf:before {
  content: "\e9bd";
}
.icon-rocket:before {
  content: "\e9be";
}
.icon-meter:before {
  content: "\e9bf";
}
.icon-meter2:before {
  content: "\e9c0";
}
.icon-hammer2:before {
  content: "\e9c1";
}
.icon-fire:before {
  content: "\e9c2";
}
.icon-lab:before {
  content: "\e9c3";
}
.icon-magnet:before {
  content: "\e9c4";
}
.icon-bin:before {
  content: "\e9c5";
}
.icon-bin2:before {
  content: "\e9c6";
}
.icon-briefcase:before {
  content: "\e9c7";
}
.icon-airplane:before {
  content: "\e9c8";
}
.icon-truck:before {
  content: "\e9c9";
}
.icon-road:before {
  content: "\e9ca";
}
.icon-accessibility:before {
  content: "\e9cb";
}
.icon-target:before {
  content: "\e9cc";
}
.icon-shield:before {
  content: "\e9cd";
}
.icon-power:before {
  content: "\e9ce";
}
.icon-switch:before {
  content: "\e9cf";
}
.icon-power-cord:before {
  content: "\e9d0";
}
.icon-clipboard:before {
  content: "\e9d1";
}
.icon-list-numbered:before {
  content: "\e9d2";
}
.icon-list:before {
  content: "\e9d3";
}
.icon-list2:before {
  content: "\e9d4";
}
.icon-tree:before {
  content: "\e9d5";
}
.icon-menu:before {
  content: "\e9d6";
}
.icon-menu2:before {
  content: "\e9d7";
}
.icon-menu3:before {
  content: "\e9d8";
}
.icon-menu4:before {
  content: "\e9d9";
}
.icon-cloud:before {
  content: "\e9da";
}
.icon-cloud-download:before {
  content: "\e9db";
}
.icon-cloud-upload:before {
  content: "\e9dc";
}
.icon-cloud-check:before {
  content: "\e9dd";
}
.icon-download2:before {
  content: "\e9de";
}
.icon-upload2:before {
  content: "\e9df";
}
.icon-download3:before {
  content: "\e9e0";
}
.icon-upload3:before {
  content: "\e9e1";
}
.icon-sphere:before {
  content: "\e9e2";
}
.icon-earth:before {
  content: "\e9e3";
}
.icon-link:before {
  content: "\e9e4";
}
.icon-flag:before {
  content: "\e9e5";
}
.icon-attachment:before {
  content: "\e9e6";
}
.icon-eye:before {
  content: "\e9e7";
}
.icon-eye-plus:before {
  content: "\e9e8";
}
.icon-eye-minus:before {
  content: "\e9e9";
}
.icon-eye-blocked:before {
  content: "\e9ea";
}
.icon-bookmark:before {
  content: "\e9eb";
}
.icon-bookmarks:before {
  content: "\e9ec";
}
.icon-sun:before {
  content: "\e9ed";
}
.icon-contrast:before {
  content: "\e9ee";
}
.icon-brightness-contrast:before {
  content: "\e9ef";
}
.icon-star-empty:before {
  content: "\e9f0";
}
.icon-star-half:before {
  content: "\e9f1";
}
.icon-star-full:before {
  content: "\e9f2";
}
.icon-heart:before {
  content: "\e9f3";
}
.icon-heart-broken:before {
  content: "\e9f4";
}
.icon-man:before {
  content: "\e9f5";
}
.icon-woman:before {
  content: "\e9f6";
}
.icon-man-woman:before {
  content: "\e9f7";
}
.icon-happy:before {
  content: "\e9f8";
}
.icon-happy2:before {
  content: "\e9f9";
}
.icon-smile:before {
  content: "\e9fa";
}
.icon-smile2:before {
  content: "\e9fb";
}
.icon-tongue:before {
  content: "\e9fc";
}
.icon-tongue2:before {
  content: "\e9fd";
}
.icon-sad:before {
  content: "\e9fe";
}
.icon-sad2:before {
  content: "\e9ff";
}
.icon-wink:before {
  content: "\ea00";
}
.icon-wink2:before {
  content: "\ea01";
}
.icon-grin:before {
  content: "\ea02";
}
.icon-grin2:before {
  content: "\ea03";
}
.icon-cool:before {
  content: "\ea04";
}
.icon-cool2:before {
  content: "\ea05";
}
.icon-angry:before {
  content: "\ea06";
}
.icon-angry2:before {
  content: "\ea07";
}
.icon-evil:before {
  content: "\ea08";
}
.icon-evil2:before {
  content: "\ea09";
}
.icon-shocked:before {
  content: "\ea0a";
}
.icon-shocked2:before {
  content: "\ea0b";
}
.icon-baffled:before {
  content: "\ea0c";
}
.icon-baffled2:before {
  content: "\ea0d";
}
.icon-confused:before {
  content: "\ea0e";
}
.icon-confused2:before {
  content: "\ea0f";
}
.icon-neutral:before {
  content: "\ea10";
}
.icon-neutral2:before {
  content: "\ea11";
}
.icon-hipster:before {
  content: "\ea12";
}
.icon-hipster2:before {
  content: "\ea13";
}
.icon-wondering:before {
  content: "\ea14";
}
.icon-wondering2:before {
  content: "\ea15";
}
.icon-sleepy:before {
  content: "\ea16";
}
.icon-sleepy2:before {
  content: "\ea17";
}
.icon-frustrated:before {
  content: "\ea18";
}
.icon-frustrated2:before {
  content: "\ea19";
}
.icon-crying:before {
  content: "\ea1a";
}
.icon-crying2:before {
  content: "\ea1b";
}
.icon-point-up:before {
  content: "\ea1c";
}
.icon-point-right:before {
  content: "\ea1d";
}
.icon-point-down:before {
  content: "\ea1e";
}
.icon-point-left:before {
  content: "\ea1f";
}
.icon-warning:before {
  content: "\ea20";
}
.icon-notification:before {
  content: "\ea21";
}
.icon-question:before {
  content: "\ea22";
}
.icon-plus:before {
  content: "\ea23";
}
.icon-minus:before {
  content: "\ea24";
}
.icon-info:before {
  content: "\ea25";
}
.icon-cancel-circle:before {
  content: "\ea26";
}
.icon-blocked:before {
  content: "\ea27";
}
.icon-cross:before {
  content: "\ea28";
}
.icon-checkmark:before {
  content: "\ea29";
}
.icon-checkmark2:before {
  content: "\ea2a";
}
.icon-spell-check:before {
  content: "\ea2b";
}
.icon-enter:before {
  content: "\ea2c";
}
.icon-exit:before {
  content: "\ea2d";
}
.icon-play2:before {
  content: "\ea2e";
}
.icon-pause:before {
  content: "\ea2f";
}
.icon-stop:before {
  content: "\ea30";
}
.icon-previous:before {
  content: "\ea31";
}
.icon-next:before {
  content: "\ea32";
}
.icon-backward:before {
  content: "\ea33";
}
.icon-forward2:before {
  content: "\ea34";
}
.icon-play3:before {
  content: "\ea35";
}
.icon-pause2:before {
  content: "\ea36";
}
.icon-stop2:before {
  content: "\ea37";
}
.icon-backward2:before {
  content: "\ea38";
}
.icon-forward3:before {
  content: "\ea39";
}
.icon-first:before {
  content: "\ea3a";
}
.icon-last:before {
  content: "\ea3b";
}
.icon-previous2:before {
  content: "\ea3c";
}
.icon-next2:before {
  content: "\ea3d";
}
.icon-eject:before {
  content: "\ea3e";
}
.icon-volume-high:before {
  content: "\ea3f";
}
.icon-volume-medium:before {
  content: "\ea40";
}
.icon-volume-low:before {
  content: "\ea41";
}
.icon-volume-mute:before {
  content: "\ea42";
}
.icon-volume-mute2:before {
  content: "\ea43";
}
.icon-volume-increase:before {
  content: "\ea44";
}
.icon-volume-decrease:before {
  content: "\ea45";
}
.icon-loop:before {
  content: "\ea46";
}
.icon-loop2:before {
  content: "\ea47";
}
.icon-infinite:before {
  content: "\ea48";
}
.icon-shuffle:before {
  content: "\ea49";
}
.icon-arrow-up-left:before {
  content: "\ea4a";
}
.icon-arrow-up:before {
  content: "\ea4b";
}
.icon-arrow-up-right:before {
  content: "\ea4c";
}
.icon-arrow-right:before {
  content: "\ea4d";
}
.icon-arrow-down-right:before {
  content: "\ea4e";
}
.icon-arrow-down:before {
  content: "\ea4f";
}
.icon-arrow-down-left:before {
  content: "\ea50";
}
.icon-arrow-left:before {
  content: "\ea51";
}
.icon-arrow-up-left2:before {
  content: "\ea52";
}
.icon-arrow-up2:before {
  content: "\ea53";
}
.icon-arrow-up-right2:before {
  content: "\ea54";
}
.icon-arrow-right2:before {
  content: "\ea55";
}
.icon-arrow-down-right2:before {
  content: "\ea56";
}
.icon-arrow-down2:before {
  content: "\ea57";
}
.icon-arrow-down-left2:before {
  content: "\ea58";
}
.icon-arrow-left2:before {
  content: "\ea59";
}
.icon-circle-up:before {
  content: "\ea5a";
}
.icon-circle-right:before {
  content: "\ea5b";
}
.icon-circle-down:before {
  content: "\ea5c";
}
.icon-circle-left:before {
  content: "\ea5d";
}
.icon-tab:before {
  content: "\ea5e";
}
.icon-move-up:before {
  content: "\ea5f";
}
.icon-move-down:before {
  content: "\ea60";
}
.icon-sort-alpha-asc:before {
  content: "\ea61";
}
.icon-sort-alpha-desc:before {
  content: "\ea62";
}
.icon-sort-numeric-asc:before {
  content: "\ea63";
}
.icon-sort-numberic-desc:before {
  content: "\ea64";
}
.icon-sort-amount-asc:before {
  content: "\ea65";
}
.icon-sort-amount-desc:before {
  content: "\ea66";
}
.icon-command:before {
  content: "\ea67";
}
.icon-shift:before {
  content: "\ea68";
}
.icon-ctrl:before {
  content: "\ea69";
}
.icon-opt:before {
  content: "\ea6a";
}
.icon-checkbox-checked:before {
  content: "\ea6b";
}
.icon-checkbox-unchecked:before {
  content: "\ea6c";
}
.icon-radio-checked:before {
  content: "\ea6d";
}
.icon-radio-checked2:before {
  content: "\ea6e";
}
.icon-radio-unchecked:before {
  content: "\ea6f";
}
.icon-crop:before {
  content: "\ea70";
}
.icon-make-group:before {
  content: "\ea71";
}
.icon-ungroup:before {
  content: "\ea72";
}
.icon-scissors:before {
  content: "\ea73";
}
.icon-filter:before {
  content: "\ea74";
}
.icon-font:before {
  content: "\ea75";
}
.icon-ligature:before {
  content: "\ea76";
}
.icon-ligature2:before {
  content: "\ea77";
}
.icon-text-height:before {
  content: "\ea78";
}
.icon-text-width:before {
  content: "\ea79";
}
.icon-font-size:before {
  content: "\ea7a";
}
.icon-bold:before {
  content: "\ea7b";
}
.icon-underline:before {
  content: "\ea7c";
}
.icon-italic:before {
  content: "\ea7d";
}
.icon-strikethrough:before {
  content: "\ea7e";
}
.icon-omega:before {
  content: "\ea7f";
}
.icon-sigma:before {
  content: "\ea80";
}
.icon-page-break:before {
  content: "\ea81";
}
.icon-superscript:before {
  content: "\ea82";
}
.icon-subscript:before {
  content: "\ea83";
}
.icon-superscript2:before {
  content: "\ea84";
}
.icon-subscript2:before {
  content: "\ea85";
}
.icon-text-color:before {
  content: "\ea86";
}
.icon-pagebreak:before {
  content: "\ea87";
}
.icon-clear-formatting:before {
  content: "\ea88";
}
.icon-table:before {
  content: "\ea89";
}
.icon-table2:before {
  content: "\ea8a";
}
.icon-insert-template:before {
  content: "\ea8b";
}
.icon-pilcrow:before {
  content: "\ea8c";
}
.icon-ltr:before {
  content: "\ea8d";
}
.icon-rtl:before {
  content: "\ea8e";
}
.icon-section:before {
  content: "\ea8f";
}
.icon-paragraph-left:before {
  content: "\ea90";
}
.icon-paragraph-center:before {
  content: "\ea91";
}
.icon-paragraph-right:before {
  content: "\ea92";
}
.icon-paragraph-justify:before {
  content: "\ea93";
}
.icon-indent-increase:before {
  content: "\ea94";
}
.icon-indent-decrease:before {
  content: "\ea95";
}
.icon-share:before {
  content: "\ea96";
}
.icon-new-tab:before {
  content: "\ea97";
}
.icon-embed:before {
  content: "\ea98";
}
.icon-embed2:before {
  content: "\ea99";
}
.icon-terminal:before {
  content: "\ea9a";
}
.icon-share2:before {
  content: "\ea9b";
}
.icon-mail:before {
  content: "\ea9c";
}
.icon-mail2:before {
  content: "\ea9d";
}
.icon-mail3:before {
  content: "\ea9e";
}
.icon-mail4:before {
  content: "\ea9f";
}
.icon-amazon:before {
  content: "\eaa0";
}
.icon-google:before {
  content: "\eaa1";
}
.icon-google2:before {
  content: "\eaa2";
}
.icon-google3:before {
  content: "\eaa3";
}
.icon-google-plus:before {
  content: "\eaa4";
}
.icon-google-plus2:before {
  content: "\eaa5";
}
.icon-google-plus3:before {
  content: "\eaa6";
}
.icon-hangouts:before {
  content: "\eaa7";
}
.icon-google-drive:before {
  content: "\eaa8";
}
.icon-facebook:before {
  content: "\eaa9";
}
.icon-facebook2:before {
  content: "\eaaa";
}
.icon-instagram:before {
  content: "\eaab";
}
.icon-whatsapp:before {
  content: "\eaac";
}
.icon-spotify:before {
  content: "\eaad";
}
.icon-telegram:before {
  content: "\eaae";
}
.icon-twitter:before {
  content: "\eaaf";
}
.icon-vine:before {
  content: "\eab0";
}
.icon-vk:before {
  content: "\eab1";
}
.icon-renren:before {
  content: "\eab2";
}
.icon-sina-weibo:before {
  content: "\eab3";
}
.icon-rss:before {
  content: "\eab4";
}
.icon-rss2:before {
  content: "\eab5";
}
.icon-youtube:before {
  content: "\eab6";
}
.icon-youtube2:before {
  content: "\eab7";
}
.icon-twitch:before {
  content: "\eab8";
}
.icon-vimeo:before {
  content: "\eab9";
}
.icon-vimeo2:before {
  content: "\eaba";
}
.icon-lanyrd:before {
  content: "\eabb";
}
.icon-flickr:before {
  content: "\eabc";
}
.icon-flickr2:before {
  content: "\eabd";
}
.icon-flickr3:before {
  content: "\eabe";
}
.icon-flickr4:before {
  content: "\eabf";
}
.icon-dribbble:before {
  content: "\eac0";
}
.icon-behance:before {
  content: "\eac1";
}
.icon-behance2:before {
  content: "\eac2";
}
.icon-deviantart:before {
  content: "\eac3";
}
.icon-500px:before {
  content: "\eac4";
}
.icon-steam:before {
  content: "\eac5";
}
.icon-steam2:before {
  content: "\eac6";
}
.icon-dropbox:before {
  content: "\eac7";
}
.icon-onedrive:before {
  content: "\eac8";
}
.icon-github:before {
  content: "\eac9";
}
.icon-npm:before {
  content: "\eaca";
}
.icon-basecamp:before {
  content: "\eacb";
}
.icon-trello:before {
  content: "\eacc";
}
.icon-wordpress:before {
  content: "\eacd";
}
.icon-joomla:before {
  content: "\eace";
}
.icon-ello:before {
  content: "\eacf";
}
.icon-blogger:before {
  content: "\ead0";
}
.icon-blogger2:before {
  content: "\ead1";
}
.icon-tumblr:before {
  content: "\ead2";
}
.icon-tumblr2:before {
  content: "\ead3";
}
.icon-yahoo:before {
  content: "\ead4";
}
.icon-yahoo2:before {
  content: "\ead5";
}
.icon-tux:before {
  content: "\ead6";
}
.icon-appleinc:before {
  content: "\ead7";
}
.icon-finder:before {
  content: "\ead8";
}
.icon-android:before {
  content: "\ead9";
}
.icon-windows:before {
  content: "\eada";
}
.icon-windows8:before {
  content: "\eadb";
}
.icon-soundcloud:before {
  content: "\eadc";
}
.icon-soundcloud2:before {
  content: "\eadd";
}
.icon-skype:before {
  content: "\eade";
}
.icon-reddit:before {
  content: "\eadf";
}
.icon-hackernews:before {
  content: "\eae0";
}
.icon-wikipedia:before {
  content: "\eae1";
}
.icon-linkedin:before {
  content: "\eae2";
}
.icon-linkedin2:before {
  content: "\eae3";
}
.icon-lastfm:before {
  content: "\eae4";
}
.icon-lastfm2:before {
  content: "\eae5";
}
.icon-delicious:before {
  content: "\eae6";
}
.icon-stumbleupon:before {
  content: "\eae7";
}
.icon-stumbleupon2:before {
  content: "\eae8";
}
.icon-stackoverflow:before {
  content: "\eae9";
}
.icon-pinterest:before {
  content: "\eaea";
}
.icon-pinterest2:before {
  content: "\eaeb";
}
.icon-xing:before {
  content: "\eaec";
}
.icon-xing2:before {
  content: "\eaed";
}
.icon-flattr:before {
  content: "\eaee";
}
.icon-foursquare:before {
  content: "\eaef";
}
.icon-yelp:before {
  content: "\eaf0";
}
.icon-paypal:before {
  content: "\eaf1";
}
.icon-chrome:before {
  content: "\eaf2";
}
.icon-firefox:before {
  content: "\eaf3";
}
.icon-IE:before {
  content: "\eaf4";
}
.icon-edge:before {
  content: "\eaf5";
}
.icon-safari:before {
  content: "\eaf6";
}
.icon-opera:before {
  content: "\eaf7";
}
.icon-file-pdf:before {
  content: "\eaf8";
}
.icon-file-openoffice:before {
  content: "\eaf9";
}
.icon-file-word:before {
  content: "\eafa";
}
.icon-file-excel:before {
  content: "\eafb";
}
.icon-libreoffice:before {
  content: "\eafc";
}
.icon-html-five:before {
  content: "\eafd";
}
.icon-html-five2:before {
  content: "\eafe";
}
.icon-css3:before {
  content: "\eaff";
}
.icon-git:before {
  content: "\eb00";
}
.icon-codepen:before {
  content: "\eb01";
}
.icon-svg:before {
  content: "\eb02";
}
.icon-IcoMoon:before {
  content: "\eb2a";
}
.icon-uni21:before {
  content: "\21";
}
.icon-uni22:before {
  content: "\22";
}
.icon-uni23:before {
  content: "\23";
}
.icon-uni24:before {
  content: "\24";
}
.icon-uni25:before {
  content: "\25";
}
.icon-uni26:before {
  content: "\26";
}
.icon-uni27:before {
  content: "\27";
}
.icon-uni28:before {
  content: "\28";
}
.icon-uni29:before {
  content: "\29";
}
.icon-uni2A:before {
  content: "\2a";
}
.icon-uni2B:before {
  content: "\2b";
}
.icon-uni2C:before {
  content: "\2c";
}
.icon-uni2D:before {
  content: "\2d";
}
.icon-uni2E:before {
  content: "\2e";
}
.icon-uni2F:before {
  content: "\2f";
}
.icon-uni30:before {
  content: "\30";
}
.icon-uni31:before {
  content: "\31";
}
.icon-uni32:before {
  content: "\32";
}
.icon-uni33:before {
  content: "\33";
}
.icon-uni34:before {
  content: "\34";
}
.icon-uni35:before {
  content: "\35";
}
.icon-uni36:before {
  content: "\36";
}
.icon-uni37:before {
  content: "\37";
}
.icon-uni38:before {
  content: "\38";
}
.icon-uni39:before {
  content: "\39";
}
.icon-uni3A:before {
  content: "\3a";
}
.icon-uni3B:before {
  content: "\3b";
}
.icon-uni3C:before {
  content: "\3c";
}
.icon-uni3D:before {
  content: "\3d";
}
.icon-uni3E:before {
  content: "\3e";
}
.icon-uni3F:before {
  content: "\3f";
}
.icon-uni40:before {
  content: "\40";
}
.icon-uni41:before {
  content: "\41";
}
.icon-uni42:before {
  content: "\42";
}
.icon-uni43:before {
  content: "\43";
}
.icon-uni44:before {
  content: "\44";
}
.icon-uni45:before {
  content: "\45";
}
.icon-uni46:before {
  content: "\46";
}
.icon-uni47:before {
  content: "\47";
}
.icon-uni48:before {
  content: "\48";
}
.icon-uni49:before {
  content: "\49";
}
.icon-uni4A:before {
  content: "\4a";
}
.icon-uni4B:before {
  content: "\4b";
}
.icon-uni4C:before {
  content: "\4c";
}
.icon-uni4D:before {
  content: "\4d";
}
.icon-uni4E:before {
  content: "\4e";
}
.icon-uni4F:before {
  content: "\4f";
}
.icon-uni50:before {
  content: "\50";
}
.icon-uni51:before {
  content: "\51";
}
.icon-uni52:before {
  content: "\52";
}
.icon-uni53:before {
  content: "\53";
}
.icon-uni54:before {
  content: "\54";
}
.icon-uni55:before {
  content: "\55";
}
.icon-uni56:before {
  content: "\56";
}
.icon-uni57:before {
  content: "\57";
}
.icon-uni58:before {
  content: "\58";
}
.icon-uni59:before {
  content: "\59";
}
.icon-uni5A:before {
  content: "\5a";
}
.icon-uni5B:before {
  content: "\5b";
}
.icon-uni5C:before {
  content: "\5c";
}
.icon-uni5D:before {
  content: "\5d";
}
.icon-uni5E:before {
  content: "\5e";
}
.icon-uni5F:before {
  content: "\5f";
}
.icon-uni60:before {
  content: "\60";
}
.icon-uni61:before {
  content: "\61";
}
.icon-uni62:before {
  content: "\62";
}
.icon-uni63:before {
  content: "\63";
}
.icon-uni64:before {
  content: "\64";
}
.icon-uni65:before {
  content: "\65";
}
.icon-uni66:before {
  content: "\66";
}
.icon-uni67:before {
  content: "\67";
}
.icon-uni68:before {
  content: "\68";
}
.icon-uni69:before {
  content: "\69";
}
.icon-uni6A:before {
  content: "\6a";
}
.icon-uni6B:before {
  content: "\6b";
}
.icon-uni6C:before {
  content: "\6c";
}
.icon-uni6D:before {
  content: "\6d";
}
.icon-uni6E:before {
  content: "\6e";
}
.icon-uni6F:before {
  content: "\6f";
}
.icon-uni70:before {
  content: "\70";
}
.icon-uni71:before {
  content: "\71";
}
.icon-uni72:before {
  content: "\72";
}
.icon-uni73:before {
  content: "\73";
}
.icon-uni74:before {
  content: "\74";
}
.icon-uni75:before {
  content: "\75";
}
.icon-uni76:before {
  content: "\76";
}
.icon-uni77:before {
  content: "\77";
}
.icon-uni78:before {
  content: "\78";
}
.icon-uni79:before {
  content: "\79";
}
.icon-uni7A:before {
  content: "\7a";
}
.icon-uni7B:before {
  content: "\7b";
}
.icon-uni7C:before {
  content: "\7c";
}
.icon-uni7D:before {
  content: "\7d";
}
.icon-uni7E:before {
  content: "\7e";
}
.icon-uniA9:before {
  content: "\a9";
}
.icon-warning2:before {
  content: "\eb03";
}
.icon-cloud2:before {
  content: "\eb04";
}
.icon-locked:before {
  content: "\eb05";
}
.icon-inbox:before {
  content: "\eb06";
}
.icon-comment:before {
  content: "\eb07";
}
.icon-mic2:before {
  content: "\eb08";
}
.icon-envelope:before {
  content: "\eb09";
}
.icon-briefcase2:before {
  content: "\eb0a";
}
.icon-cart2:before {
  content: "\eb0b";
}
.icon-contrast2:before {
  content: "\eb0c";
}
.icon-clock3:before {
  content: "\eb0d";
}
.icon-user2:before {
  content: "\eb0e";
}
.icon-cog2:before {
  content: "\eb0f";
}
.icon-music2:before {
  content: "\eb10";
}
.icon-twitter2:before {
  content: "\eb11";
}
.icon-pencil:before {
  content: "\eb12";
}
.icon-frame:before {
  content: "\eb13";
}
.icon-switch2:before {
  content: "\eb14";
}
.icon-star:before {
  content: "\eb15";
}
.icon-key3:before {
  content: "\eb16";
}
.icon-chart:before {
  content: "\eb17";
}
.icon-apple:before {
  content: "\eb18";
}
.icon-file:before {
  content: "\eb19";
}
.icon-plus2:before {
  content: "\eb1a";
}
.icon-minus2:before {
  content: "\eb1b";
}
.icon-picture:before {
  content: "\eb1c";
}
.icon-folder2:before {
  content: "\eb1d";
}
.icon-camera2:before {
  content: "\eb1e";
}
.icon-search2:before {
  content: "\eb1f";
}
.icon-dribbble2:before {
  content: "\eb20";
}
.icon-forrst:before {
  content: "\eb21";
}
.icon-feed2:before {
  content: "\eb22";
}
.icon-blocked2:before {
  content: "\eb23";
}
.icon-target2:before {
  content: "\eb24";
}
.icon-play4:before {
  content: "\eb25";
}
.icon-pause3:before {
  content: "\eb26";
}
.icon-bug2:before {
  content: "\eb27";
}
.icon-console:before {
  content: "\eb28";
}
.icon-film2:before {
  content: "\eb29";
}
.icon-type:before {
  content: "\eb2b";
}
.icon-home4:before {
  content: "\eb2c";
}
.icon-earth2:before {
  content: "\eb2d";
}
.icon-location3:before {
  content: "\eb2e";
}
.icon-info2:before {
  content: "\eb2f";
}
.icon-eye2:before {
  content: "\eb30";
}
.icon-heart2:before {
  content: "\eb31";
}
.icon-bookmark2:before {
  content: "\eb32";
}
.icon-wrench2:before {
  content: "\eb33";
}
.icon-calendar2:before {
  content: "\eb34";
}
.icon-window:before {
  content: "\eb35";
}
.icon-monitor:before {
  content: "\eb36";
}
.icon-mobile3:before {
  content: "\eb37";
}
.icon-droplet2:before {
  content: "\eb38";
}
.icon-mouse:before {
  content: "\eb39";
}
.icon-refresh:before {
  content: "\eb3a";
}
.icon-location4:before {
  content: "\eb3b";
}
.icon-tag:before {
  content: "\eb3c";
}
.icon-phone2:before {
  content: "\eb3d";
}
.icon-star2:before {
  content: "\eb3e";
}
.icon-pointer:before {
  content: "\eb3f";
}
.icon-thumbsup:before {
  content: "\eb40";
}
.icon-thumbsdown:before {
  content: "\eb41";
}
.icon-headphones2:before {
  content: "\eb42";
}
.icon-move:before {
  content: "\eb43";
}
.icon-checkmark3:before {
  content: "\eb44";
}
.icon-cancel:before {
  content: "\eb45";
}
.icon-skype2:before {
  content: "\eb46";
}
.icon-gift2:before {
  content: "\eb47";
}
.icon-cone:before {
  content: "\eb48";
}
.icon-alarm2:before {
  content: "\eb49";
}
.icon-coffee:before {
  content: "\eb4a";
}
.icon-basket:before {
  content: "\eb4b";
}
.icon-flag2:before {
  content: "\eb4c";
}
.icon-ipod:before {
  content: "\eb4d";
}
.icon-trashcan:before {
  content: "\eb4e";
}
.icon-bolt:before {
  content: "\eb4f";
}
.icon-ampersand:before {
  content: "\eb50";
}
.icon-compass3:before {
  content: "\eb51";
}
.icon-list3:before {
  content: "\eb52";
}
.icon-grid:before {
  content: "\eb53";
}
.icon-volume:before {
  content: "\eb54";
}
.icon-volume2:before {
  content: "\eb55";
}
.icon-stats:before {
  content: "\eb56";
}
.icon-target3:before {
  content: "\eb57";
}
.icon-forward4:before {
  content: "\eb58";
}
.icon-paperclip:before {
  content: "\eb59";
}
.icon-keyboard2:before {
  content: "\eb5a";
}
.icon-crop2:before {
  content: "\eb5b";
}
.icon-floppy:before {
  content: "\eb5c";
}
.icon-filter2:before {
  content: "\eb5d";
}
.icon-trophy2:before {
  content: "\eb5e";
}
.icon-diary:before {
  content: "\eb5f";
}
.icon-addressbook:before {
  content: "\eb60";
}
.icon-stop3:before {
  content: "\eb61";
}
.icon-smiley:before {
  content: "\eb62";
}
.icon-shit:before {
  content: "\eb63";
}
.icon-bookmark3:before {
  content: "\eb64";
}
.icon-camera3:before {
  content: "\eb65";
}
.icon-lamp:before {
  content: "\eb66";
}
.icon-disk:before {
  content: "\eb67";
}
.icon-button:before {
  content: "\eb68";
}
.icon-database2:before {
  content: "\eb69";
}
.icon-creditcard:before {
  content: "\eb6a";
}
.icon-atom:before {
  content: "\eb6b";
}
.icon-winsows:before {
  content: "\eb6c";
}
.icon-target4:before {
  content: "\eb6d";
}
.icon-battery:before {
  content: "\eb6e";
}
.icon-code:before {
  content: "\eb6f";
}
.icon-home5:before {
  content: "\eb70";
}
.icon-home22:before {
  content: "\eb71";
}
.icon-home32:before {
  content: "\eb72";
}
.icon-office2:before {
  content: "\eb73";
}
.icon-newspaper2:before {
  content: "\eb74";
}
.icon-pencil3:before {
  content: "\eb75";
}
.icon-pencil22:before {
  content: "\eb76";
}
.icon-quill2:before {
  content: "\eb77";
}
.icon-pen2:before {
  content: "\eb78";
}
.icon-blog2:before {
  content: "\eb79";
}
.icon-eyedropper2:before {
  content: "\eb7a";
}
.icon-droplet3:before {
  content: "\eb7b";
}
.icon-paint-format2:before {
  content: "\eb7c";
}
.icon-image2:before {
  content: "\eb7d";
}
.icon-images2:before {
  content: "\eb7e";
}
.icon-camera4:before {
  content: "\eb7f";
}
.icon-headphones3:before {
  content: "\eb80";
}
.icon-music3:before {
  content: "\eb81";
}
.icon-play5:before {
  content: "\eb82";
}
.icon-film3:before {
  content: "\eb83";
}
.icon-video-camera2:before {
  content: "\eb84";
}
.icon-dice2:before {
  content: "\eb85";
}
.icon-pacman2:before {
  content: "\eb86";
}
.icon-spades2:before {
  content: "\eb87";
}
.icon-clubs2:before {
  content: "\eb88";
}
.icon-diamonds2:before {
  content: "\eb89";
}
.icon-bullhorn2:before {
  content: "\eb8a";
}
.icon-connection2:before {
  content: "\eb8b";
}
.icon-podcast2:before {
  content: "\eb8c";
}
.icon-feed3:before {
  content: "\eb8d";
}
.icon-mic3:before {
  content: "\eb8e";
}
.icon-book2:before {
  content: "\eb8f";
}
.icon-books2:before {
  content: "\eb90";
}
.icon-library2:before {
  content: "\eb91";
}
.icon-file-text3:before {
  content: "\eb92";
}
.icon-profile2:before {
  content: "\eb93";
}
.icon-file-empty2:before {
  content: "\eb94";
}
.icon-files-empty2:before {
  content: "\eb95";
}
.icon-file-text22:before {
  content: "\eb96";
}
.icon-file-picture2:before {
  content: "\eb97";
}
.icon-file-music2:before {
  content: "\eb98";
}
.icon-file-play2:before {
  content: "\eb99";
}
.icon-file-video2:before {
  content: "\eb9a";
}
.icon-file-zip2:before {
  content: "\eb9b";
}
.icon-copy2:before {
  content: "\eb9c";
}
.icon-paste2:before {
  content: "\eb9d";
}
.icon-stack2:before {
  content: "\eb9e";
}
.icon-folder3:before {
  content: "\eb9f";
}
.icon-folder-open2:before {
  content: "\eba0";
}
.icon-folder-plus2:before {
  content: "\eba1";
}
.icon-folder-minus2:before {
  content: "\eba2";
}
.icon-folder-download2:before {
  content: "\eba3";
}
.icon-folder-upload2:before {
  content: "\eba4";
}
.icon-price-tag2:before {
  content: "\eba5";
}
.icon-price-tags2:before {
  content: "\eba6";
}
.icon-barcode2:before {
  content: "\eba7";
}
.icon-qrcode2:before {
  content: "\eba8";
}
.icon-ticket2:before {
  content: "\eba9";
}
.icon-cart3:before {
  content: "\ebaa";
}
.icon-coin-dollar2:before {
  content: "\ebab";
}
.icon-coin-euro2:before {
  content: "\ebac";
}
.icon-coin-pound2:before {
  content: "\ebad";
}
.icon-coin-yen2:before {
  content: "\ebae";
}
.icon-credit-card2:before {
  content: "\ebaf";
}
.icon-calculator2:before {
  content: "\ebb0";
}
.icon-lifebuoy2:before {
  content: "\ebb1";
}
.icon-phone3:before {
  content: "\ebb2";
}
.icon-phone-hang-up2:before {
  content: "\ebb3";
}
.icon-address-book2:before {
  content: "\ebb4";
}
.icon-envelop2:before {
  content: "\ebb5";
}
.icon-pushpin2:before {
  content: "\ebb6";
}
.icon-location5:before {
  content: "\ebb7";
}
.icon-location22:before {
  content: "\ebb8";
}
.icon-compass4:before {
  content: "\ebb9";
}
.icon-compass22:before {
  content: "\ebba";
}
.icon-map3:before {
  content: "\ebbb";
}
.icon-map22:before {
  content: "\ebbc";
}
.icon-history2:before {
  content: "\ebbd";
}
.icon-clock4:before {
  content: "\ebbe";
}
.icon-clock22:before {
  content: "\ebbf";
}
.icon-alarm3:before {
  content: "\ebc0";
}
.icon-bell2:before {
  content: "\ebc1";
}
.icon-stopwatch2:before {
  content: "\ebc2";
}
.icon-calendar3:before {
  content: "\ebc3";
}
.icon-printer2:before {
  content: "\ebc4";
}
.icon-keyboard3:before {
  content: "\ebc5";
}
.icon-display2:before {
  content: "\ebc6";
}
.icon-laptop2:before {
  content: "\ebc7";
}
.icon-mobile4:before {
  content: "\ebc8";
}
.icon-mobile22:before {
  content: "\ebc9";
}
.icon-tablet2:before {
  content: "\ebca";
}
.icon-tv2:before {
  content: "\ebcb";
}
.icon-drawer3:before {
  content: "\ebcc";
}
.icon-drawer22:before {
  content: "\ebcd";
}
.icon-box-add2:before {
  content: "\ebce";
}
.icon-box-remove2:before {
  content: "\ebcf";
}
.icon-download4:before {
  content: "\ebd0";
}
.icon-upload4:before {
  content: "\ebd1";
}
.icon-floppy-disk2:before {
  content: "\ebd2";
}
.icon-drive2:before {
  content: "\ebd3";
}
.icon-database3:before {
  content: "\ebd4";
}
.icon-undo3:before {
  content: "\ebd5";
}
.icon-redo3:before {
  content: "\ebd6";
}
.icon-undo22:before {
  content: "\ebd7";
}
.icon-redo22:before {
  content: "\ebd8";
}
.icon-forward5:before {
  content: "\ebd9";
}
.icon-reply2:before {
  content: "\ebda";
}
.icon-bubble3:before {
  content: "\ebdb";
}
.icon-bubbles5:before {
  content: "\ebdc";
}
.icon-bubbles22:before {
  content: "\ebdd";
}
.icon-bubble22:before {
  content: "\ebde";
}
.icon-bubbles32:before {
  content: "\ebdf";
}
.icon-bubbles42:before {
  content: "\ebe0";
}
.icon-user3:before {
  content: "\ebe1";
}
.icon-users2:before {
  content: "\ebe2";
}
.icon-user-plus2:before {
  content: "\ebe3";
}
.icon-user-minus2:before {
  content: "\ebe4";
}
.icon-user-check2:before {
  content: "\ebe5";
}
.icon-user-tie2:before {
  content: "\ebe6";
}
.icon-quotes-left2:before {
  content: "\ebe7";
}
.icon-quotes-right2:before {
  content: "\ebe8";
}
.icon-hour-glass2:before {
  content: "\ebe9";
}
.icon-spinner12:before {
  content: "\ebea";
}
.icon-spinner22:before {
  content: "\ebeb";
}
.icon-spinner32:before {
  content: "\ebec";
}
.icon-spinner42:before {
  content: "\ebed";
}
.icon-spinner52:before {
  content: "\ebee";
}
.icon-spinner62:before {
  content: "\ebef";
}
.icon-spinner72:before {
  content: "\ebf0";
}
.icon-spinner82:before {
  content: "\ebf1";
}
.icon-spinner92:before {
  content: "\ebf2";
}
.icon-spinner102:before {
  content: "\ebf3";
}
.icon-spinner112:before {
  content: "\ebf4";
}
.icon-binoculars2:before {
  content: "\ebf5";
}
.icon-search3:before {
  content: "\ebf6";
}
.icon-zoom-in2:before {
  content: "\ebf7";
}
.icon-zoom-out2:before {
  content: "\ebf8";
}
.icon-enlarge3:before {
  content: "\ebf9";
}
.icon-shrink3:before {
  content: "\ebfa";
}
.icon-enlarge22:before {
  content: "\ebfb";
}
.icon-shrink22:before {
  content: "\ebfc";
}
.icon-key4:before {
  content: "\ebfd";
}
.icon-key22:before {
  content: "\ebfe";
}
.icon-lock2:before {
  content: "\ebff";
}
.icon-unlocked2:before {
  content: "\ec00";
}
.icon-wrench3:before {
  content: "\ec01";
}
.icon-equalizer3:before {
  content: "\ec02";
}
.icon-equalizer22:before {
  content: "\ec03";
}
.icon-cog3:before {
  content: "\ec04";
}
.icon-cogs2:before {
  content: "\ec05";
}
.icon-hammer3:before {
  content: "\ec06";
}
.icon-magic-wand2:before {
  content: "\ec07";
}
.icon-aid-kit2:before {
  content: "\ec08";
}
.icon-bug3:before {
  content: "\ec09";
}
.icon-pie-chart2:before {
  content: "\ec0a";
}
.icon-stats-dots2:before {
  content: "\ec0b";
}
.icon-stats-bars3:before {
  content: "\ec0c";
}
.icon-stats-bars22:before {
  content: "\ec0d";
}
.icon-trophy3:before {
  content: "\ec0e";
}
.icon-gift3:before {
  content: "\ec0f";
}
.icon-glass3:before {
  content: "\ec10";
}
.icon-glass22:before {
  content: "\ec11";
}
.icon-mug2:before {
  content: "\ec12";
}
.icon-spoon-knife2:before {
  content: "\ec13";
}
.icon-leaf2:before {
  content: "\ec14";
}
.icon-rocket2:before {
  content: "\ec15";
}
.icon-meter3:before {
  content: "\ec16";
}
.icon-meter22:before {
  content: "\ec17";
}
.icon-hammer22:before {
  content: "\ec18";
}
.icon-fire2:before {
  content: "\ec19";
}
.icon-lab2:before {
  content: "\ec1a";
}
.icon-magnet2:before {
  content: "\ec1b";
}
.icon-bin3:before {
  content: "\ec1c";
}
.icon-bin22:before {
  content: "\ec1d";
}
.icon-briefcase3:before {
  content: "\ec1e";
}
.icon-airplane2:before {
  content: "\ec1f";
}
.icon-truck2:before {
  content: "\ec20";
}
.icon-road2:before {
  content: "\ec21";
}
.icon-accessibility2:before {
  content: "\ec22";
}
.icon-target5:before {
  content: "\ec23";
}
.icon-shield2:before {
  content: "\ec24";
}
.icon-power2:before {
  content: "\ec25";
}
.icon-switch3:before {
  content: "\ec26";
}
.icon-power-cord2:before {
  content: "\ec27";
}
.icon-clipboard2:before {
  content: "\ec28";
}
.icon-list-numbered2:before {
  content: "\ec29";
}
.icon-list4:before {
  content: "\ec2a";
}
.icon-list22:before {
  content: "\ec2b";
}
.icon-tree2:before {
  content: "\ec2c";
}
.icon-menu5:before {
  content: "\ec2d";
}
.icon-menu22:before {
  content: "\ec2e";
}
.icon-menu32:before {
  content: "\ec2f";
}
.icon-menu42:before {
  content: "\ec30";
}
.icon-cloud3:before {
  content: "\ec31";
}
.icon-cloud-download2:before {
  content: "\ec32";
}
.icon-cloud-upload2:before {
  content: "\ec33";
}
.icon-cloud-check2:before {
  content: "\ec34";
}
.icon-download22:before {
  content: "\ec35";
}
.icon-upload22:before {
  content: "\ec36";
}
.icon-download32:before {
  content: "\ec37";
}
.icon-upload32:before {
  content: "\ec38";
}
.icon-sphere2:before {
  content: "\ec39";
}
.icon-earth3:before {
  content: "\ec3a";
}
.icon-link2:before {
  content: "\ec3b";
}
.icon-flag3:before {
  content: "\ec3c";
}
.icon-attachment2:before {
  content: "\ec3d";
}
.icon-eye3:before {
  content: "\ec3e";
}
.icon-eye-plus2:before {
  content: "\ec3f";
}
.icon-eye-minus2:before {
  content: "\ec40";
}
.icon-eye-blocked2:before {
  content: "\ec41";
}
.icon-bookmark4:before {
  content: "\ec42";
}
.icon-bookmarks2:before {
  content: "\ec43";
}
.icon-sun2:before {
  content: "\ec44";
}
.icon-contrast3:before {
  content: "\ec45";
}
.icon-brightness-contrast2:before {
  content: "\ec46";
}
.icon-star-empty2:before {
  content: "\ec47";
}
.icon-star-half2:before {
  content: "\ec48";
}
.icon-star-full2:before {
  content: "\ec49";
}
.icon-heart3:before {
  content: "\ec4a";
}
.icon-heart-broken2:before {
  content: "\ec4b";
}
.icon-man2:before {
  content: "\ec4c";
}
.icon-woman2:before {
  content: "\ec4d";
}
.icon-man-woman2:before {
  content: "\ec4e";
}
.icon-happy3:before {
  content: "\ec4f";
}
.icon-happy22:before {
  content: "\ec50";
}
.icon-smile3:before {
  content: "\ec51";
}
.icon-smile22:before {
  content: "\ec52";
}
.icon-tongue3:before {
  content: "\ec53";
}
.icon-tongue22:before {
  content: "\ec54";
}
.icon-sad3:before {
  content: "\ec55";
}
.icon-sad22:before {
  content: "\ec56";
}
.icon-wink3:before {
  content: "\ec57";
}
.icon-wink22:before {
  content: "\ec58";
}
.icon-grin3:before {
  content: "\ec59";
}
.icon-grin22:before {
  content: "\ec5a";
}
.icon-cool3:before {
  content: "\ec5b";
}
.icon-cool22:before {
  content: "\ec5c";
}
.icon-angry3:before {
  content: "\ec5d";
}
.icon-angry22:before {
  content: "\ec5e";
}
.icon-evil3:before {
  content: "\ec5f";
}
.icon-evil22:before {
  content: "\ec60";
}
.icon-shocked3:before {
  content: "\ec61";
}
.icon-shocked22:before {
  content: "\ec62";
}
.icon-baffled3:before {
  content: "\ec63";
}
.icon-baffled22:before {
  content: "\ec64";
}
.icon-confused3:before {
  content: "\ec65";
}
.icon-confused22:before {
  content: "\ec66";
}
.icon-neutral3:before {
  content: "\ec67";
}
.icon-neutral22:before {
  content: "\ec68";
}
.icon-hipster3:before {
  content: "\ec69";
}
.icon-hipster22:before {
  content: "\ec6a";
}
.icon-wondering3:before {
  content: "\ec6b";
}
.icon-wondering22:before {
  content: "\ec6c";
}
.icon-sleepy3:before {
  content: "\ec6d";
}
.icon-sleepy22:before {
  content: "\ec6e";
}
.icon-frustrated3:before {
  content: "\ec6f";
}
.icon-frustrated22:before {
  content: "\ec70";
}
.icon-crying3:before {
  content: "\ec71";
}
.icon-crying22:before {
  content: "\ec72";
}
.icon-point-up2:before {
  content: "\ec73";
}
.icon-point-right2:before {
  content: "\ec74";
}
.icon-point-down2:before {
  content: "\ec75";
}
.icon-point-left2:before {
  content: "\ec76";
}
.icon-warning3:before {
  content: "\ec77";
}
.icon-notification2:before {
  content: "\ec78";
}
.icon-question2:before {
  content: "\ec79";
}
.icon-plus3:before {
  content: "\ec7a";
}
.icon-minus3:before {
  content: "\ec7b";
}
.icon-info3:before {
  content: "\ec7c";
}
.icon-cancel-circle2:before {
  content: "\ec7d";
}
.icon-blocked3:before {
  content: "\ec7e";
}
.icon-cross2:before {
  content: "\ec7f";
}
.icon-checkmark4:before {
  content: "\ec80";
}
.icon-checkmark22:before {
  content: "\ec81";
}
.icon-spell-check2:before {
  content: "\ec82";
}
.icon-enter2:before {
  content: "\ec83";
}
.icon-exit2:before {
  content: "\ec84";
}
.icon-play22:before {
  content: "\ec85";
}
.icon-pause4:before {
  content: "\ec86";
}
.icon-stop4:before {
  content: "\ec87";
}
.icon-previous3:before {
  content: "\ec88";
}
.icon-next3:before {
  content: "\ec89";
}
.icon-backward3:before {
  content: "\ec8a";
}
.icon-forward22:before {
  content: "\ec8b";
}
.icon-play32:before {
  content: "\ec8c";
}
.icon-pause22:before {
  content: "\ec8d";
}
.icon-stop22:before {
  content: "\ec8e";
}
.icon-backward22:before {
  content: "\ec8f";
}
.icon-forward32:before {
  content: "\ec90";
}
.icon-first2:before {
  content: "\ec91";
}
.icon-last2:before {
  content: "\ec92";
}
.icon-previous22:before {
  content: "\ec93";
}
.icon-next22:before {
  content: "\ec94";
}
.icon-eject2:before {
  content: "\ec95";
}
.icon-volume-high2:before {
  content: "\ec96";
}
.icon-volume-medium2:before {
  content: "\ec97";
}
.icon-volume-low2:before {
  content: "\ec98";
}
.icon-volume-mute3:before {
  content: "\ec99";
}
.icon-volume-mute22:before {
  content: "\ec9a";
}
.icon-volume-increase2:before {
  content: "\ec9b";
}
.icon-volume-decrease2:before {
  content: "\ec9c";
}
.icon-loop3:before {
  content: "\ec9d";
}
.icon-loop22:before {
  content: "\ec9e";
}
.icon-infinite2:before {
  content: "\ec9f";
}
.icon-shuffle2:before {
  content: "\eca0";
}
.icon-arrow-up-left3:before {
  content: "\eca1";
}
.icon-arrow-up3:before {
  content: "\eca2";
}
.icon-arrow-up-right3:before {
  content: "\eca3";
}
.icon-arrow-right3:before {
  content: "\eca4";
}
.icon-arrow-down-right3:before {
  content: "\eca5";
}
.icon-arrow-down3:before {
  content: "\eca6";
}
.icon-arrow-down-left3:before {
  content: "\eca7";
}
.icon-arrow-left3:before {
  content: "\eca8";
}
.icon-arrow-up-left22:before {
  content: "\eca9";
}
.icon-arrow-up22:before {
  content: "\ecaa";
}
.icon-arrow-up-right22:before {
  content: "\ecab";
}
.icon-arrow-right22:before {
  content: "\ecac";
}
.icon-arrow-down-right22:before {
  content: "\ecad";
}
.icon-arrow-down22:before {
  content: "\ecae";
}
.icon-arrow-down-left22:before {
  content: "\ecaf";
}
.icon-arrow-left22:before {
  content: "\ecb0";
}
.icon-circle-up2:before {
  content: "\ecb1";
}
.icon-circle-right2:before {
  content: "\ecb2";
}
.icon-circle-down2:before {
  content: "\ecb3";
}
.icon-circle-left2:before {
  content: "\ecb4";
}
.icon-tab2:before {
  content: "\ecb5";
}
.icon-move-up2:before {
  content: "\ecb6";
}
.icon-move-down2:before {
  content: "\ecb7";
}
.icon-sort-alpha-asc2:before {
  content: "\ecb8";
}
.icon-sort-alpha-desc2:before {
  content: "\ecb9";
}
.icon-sort-numeric-asc2:before {
  content: "\ecba";
}
.icon-sort-numberic-desc2:before {
  content: "\ecbb";
}
.icon-sort-amount-asc2:before {
  content: "\ecbc";
}
.icon-sort-amount-desc2:before {
  content: "\ecbd";
}
.icon-command2:before {
  content: "\ecbe";
}
.icon-shift2:before {
  content: "\ecbf";
}
.icon-ctrl2:before {
  content: "\ecc0";
}
.icon-opt2:before {
  content: "\ecc1";
}
.icon-checkbox-checked2:before {
  content: "\ecc2";
}
.icon-checkbox-unchecked2:before {
  content: "\ecc3";
}
.icon-radio-checked3:before {
  content: "\ecc4";
}
.icon-radio-checked22:before {
  content: "\ecc5";
}
.icon-radio-unchecked2:before {
  content: "\ecc6";
}
.icon-crop3:before {
  content: "\ecc7";
}
.icon-make-group2:before {
  content: "\ecc8";
}
.icon-ungroup2:before {
  content: "\ecc9";
}
.icon-scissors2:before {
  content: "\ecca";
}
.icon-filter3:before {
  content: "\eccb";
}
.icon-font2:before {
  content: "\eccc";
}
.icon-ligature3:before {
  content: "\eccd";
}
.icon-ligature22:before {
  content: "\ecce";
}
.icon-text-height2:before {
  content: "\eccf";
}
.icon-text-width2:before {
  content: "\ecd0";
}
.icon-font-size2:before {
  content: "\ecd1";
}
.icon-bold2:before {
  content: "\ecd2";
}
.icon-underline2:before {
  content: "\ecd3";
}
.icon-italic2:before {
  content: "\ecd4";
}
.icon-strikethrough2:before {
  content: "\ecd5";
}
.icon-omega2:before {
  content: "\ecd6";
}
.icon-sigma2:before {
  content: "\ecd7";
}
.icon-page-break2:before {
  content: "\ecd8";
}
.icon-superscript3:before {
  content: "\ecd9";
}
.icon-subscript3:before {
  content: "\ecda";
}
.icon-superscript22:before {
  content: "\ecdb";
}
.icon-subscript22:before {
  content: "\ecdc";
}
.icon-text-color2:before {
  content: "\ecdd";
}
.icon-pagebreak2:before {
  content: "\ecde";
}
.icon-clear-formatting2:before {
  content: "\ecdf";
}
.icon-table3:before {
  content: "\ece0";
}
.icon-table22:before {
  content: "\ece1";
}
.icon-insert-template2:before {
  content: "\ece2";
}
.icon-pilcrow2:before {
  content: "\ece3";
}
.icon-ltr2:before {
  content: "\ece4";
}
.icon-rtl2:before {
  content: "\ece5";
}
.icon-section2:before {
  content: "\ece6";
}
.icon-paragraph-left2:before {
  content: "\ece7";
}
.icon-paragraph-center2:before {
  content: "\ece8";
}
.icon-paragraph-right2:before {
  content: "\ece9";
}
.icon-paragraph-justify2:before {
  content: "\ecea";
}
.icon-indent-increase2:before {
  content: "\eceb";
}
.icon-indent-decrease2:before {
  content: "\ecec";
}
.icon-share3:before {
  content: "\eced";
}
.icon-new-tab2:before {
  content: "\ecee";
}
.icon-embed3:before {
  content: "\ecef";
}
.icon-embed22:before {
  content: "\ecf0";
}
.icon-terminal2:before {
  content: "\ecf1";
}
.icon-share22:before {
  content: "\ecf2";
}
.icon-mail5:before {
  content: "\ecf3";
}
.icon-mail22:before {
  content: "\ecf4";
}
.icon-mail32:before {
  content: "\ecf5";
}
.icon-mail42:before {
  content: "\ecf6";
}
.icon-amazon2:before {
  content: "\ecf7";
}
.icon-google4:before {
  content: "\ecf8";
}
.icon-google22:before {
  content: "\ecf9";
}
.icon-google32:before {
  content: "\ecfa";
}
.icon-google-plus4:before {
  content: "\ecfb";
}
.icon-google-plus22:before {
  content: "\ecfc";
}
.icon-google-plus32:before {
  content: "\ecfd";
}
.icon-hangouts2:before {
  content: "\ecfe";
}
.icon-google-drive2:before {
  content: "\ecff";
}
.icon-facebook3:before {
  content: "\ed00";
}
.icon-facebook22:before {
  content: "\ed01";
}
.icon-instagram2:before {
  content: "\ed02";
}
.icon-whatsapp2:before {
  content: "\ed03";
}
.icon-spotify2:before {
  content: "\ed04";
}
.icon-telegram2:before {
  content: "\ed05";
}
.icon-twitter3:before {
  content: "\ed06";
}
.icon-vine2:before {
  content: "\ed07";
}
.icon-vk2:before {
  content: "\ed08";
}
.icon-renren2:before {
  content: "\ed09";
}
.icon-sina-weibo2:before {
  content: "\ed0a";
}
.icon-rss3:before {
  content: "\ed0b";
}
.icon-rss22:before {
  content: "\ed0c";
}
.icon-youtube3:before {
  content: "\ed0d";
}
.icon-youtube22:before {
  content: "\ed0e";
}
.icon-twitch2:before {
  content: "\ed0f";
}
.icon-vimeo3:before {
  content: "\ed10";
}
.icon-vimeo22:before {
  content: "\ed11";
}
.icon-lanyrd2:before {
  content: "\ed12";
}
.icon-flickr5:before {
  content: "\ed13";
}
.icon-flickr22:before {
  content: "\ed14";
}
.icon-flickr32:before {
  content: "\ed15";
}
.icon-flickr42:before {
  content: "\ed16";
}
.icon-dribbble3:before {
  content: "\ed17";
}
.icon-behance3:before {
  content: "\ed18";
}
.icon-behance22:before {
  content: "\ed19";
}
.icon-deviantart2:before {
  content: "\ed1a";
}
.icon-500px2:before {
  content: "\ed1b";
}
.icon-steam3:before {
  content: "\ed1c";
}
.icon-steam22:before {
  content: "\ed1d";
}
.icon-dropbox2:before {
  content: "\ed1e";
}
.icon-onedrive2:before {
  content: "\ed1f";
}
.icon-github2:before {
  content: "\ed20";
}
.icon-npm2:before {
  content: "\ed21";
}
.icon-basecamp2:before {
  content: "\ed22";
}
.icon-trello2:before {
  content: "\ed23";
}
.icon-wordpress2:before {
  content: "\ed24";
}
.icon-joomla2:before {
  content: "\ed25";
}
.icon-ello2:before {
  content: "\ed26";
}
.icon-blogger3:before {
  content: "\ed27";
}
.icon-blogger22:before {
  content: "\ed28";
}
.icon-tumblr3:before {
  content: "\ed29";
}
.icon-tumblr22:before {
  content: "\ed2a";
}
.icon-yahoo3:before {
  content: "\ed2b";
}
.icon-yahoo22:before {
  content: "\ed2c";
}
.icon-tux2:before {
  content: "\ed2d";
}
.icon-appleinc2:before {
  content: "\ed2e";
}
.icon-finder2:before {
  content: "\ed2f";
}
.icon-android2:before {
  content: "\ed30";
}
.icon-windows2:before {
  content: "\ed31";
}
.icon-windows82:before {
  content: "\ed32";
}
.icon-soundcloud3:before {
  content: "\ed33";
}
.icon-soundcloud22:before {
  content: "\ed34";
}
.icon-skype3:before {
  content: "\ed35";
}
.icon-reddit2:before {
  content: "\ed36";
}
.icon-hackernews2:before {
  content: "\ed37";
}
.icon-wikipedia2:before {
  content: "\ed38";
}
.icon-linkedin3:before {
  content: "\ed39";
}
.icon-linkedin22:before {
  content: "\ed3a";
}
.icon-lastfm3:before {
  content: "\ed3b";
}
.icon-lastfm22:before {
  content: "\ed3c";
}
.icon-delicious2:before {
  content: "\ed3d";
}
.icon-stumbleupon3:before {
  content: "\ed3e";
}
.icon-stumbleupon22:before {
  content: "\ed3f";
}
.icon-stackoverflow2:before {
  content: "\ed40";
}
.icon-pinterest3:before {
  content: "\ed41";
}
.icon-pinterest22:before {
  content: "\ed42";
}
.icon-xing3:before {
  content: "\ed43";
}
.icon-xing22:before {
  content: "\ed44";
}
.icon-flattr2:before {
  content: "\ed45";
}
.icon-foursquare2:before {
  content: "\ed46";
}
.icon-yelp2:before {
  content: "\ed47";
}
.icon-paypal2:before {
  content: "\ed48";
}
.icon-chrome2:before {
  content: "\ed49";
}
.icon-firefox2:before {
  content: "\ed4a";
}
.icon-IE2:before {
  content: "\ed4b";
}
.icon-edge2:before {
  content: "\ed4c";
}
.icon-safari2:before {
  content: "\ed4d";
}
.icon-opera2:before {
  content: "\ed4e";
}
.icon-file-pdf2:before {
  content: "\ed4f";
}
.icon-file-openoffice2:before {
  content: "\ed50";
}
.icon-file-word2:before {
  content: "\ed51";
}
.icon-file-excel2:before {
  content: "\ed52";
}
.icon-libreoffice2:before {
  content: "\ed53";
}
.icon-html-five3:before {
  content: "\ed54";
}
.icon-html-five22:before {
  content: "\ed55";
}
.icon-css32:before {
  content: "\ed56";
}
.icon-git2:before {
  content: "\ed57";
}
.icon-codepen2:before {
  content: "\ed58";
}
.icon-svg2:before {
  content: "\ed59";
}
.icon-IcoMoon2:before {
  content: "\ed5a";
}
