.color-details{
  color: #00a2d4;
  cursor: pointer;
}
.color-danger{
  color: red;
  cursor: pointer;
}
.color-dispose{
  background: #1c84c6;
  cursor: pointer;
  color: #fff;
}
.margin-center-5{
  margin: 0 5px;
}